.avatar { 
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 10px;
}

.bi {
    margin-bottom: 2px;
    margin-left: 2px;
}

.rounded-circle {
    margin-left: -15px;
}

.btn-block {
    width: 100%;
}